-- Fix for enrollment approval stored procedure
-- This script adds proper transaction handling to the process_enrollment_approval function

-- Create or replace the function with transaction support
CREATE OR REPLACE FUNCTION process_enrollment_approval(request_id UUID, is_approved BOOLEAN)
RETURNS UUID AS $$
DECLARE
  customer_id_val INTEGER;
  business_id_val INTEGER;
  program_id_val TEXT;
  notification_id_val UUID;
  enrollment_exists BOOLEAN;
  card_id_val UUID;
  card_exists BOOLEAN;
  card_number_val TEXT;
  program_name_val TEXT;
  business_name_val TEXT;
  customer_name_val TEXT;
BEGIN
  -- Start transaction
  BEGIN
    -- Update the approval request status
    UPDATE customer_approval_requests
    SET status = CASE WHEN is_approved THEN 'APPROVED' ELSE 'REJECTED' END,
        responded_at = NOW(),
        updated_at = NOW()
    WHERE id = request_id
    RETURNING customer_id, business_id, entity_id, notification_id INTO customer_id_val, business_id_val, program_id_val, notification_id_val;
    
    -- If customer_id is null, the request wasn't found
    IF customer_id_val IS NULL THEN
      RAISE EXCEPTION 'Approval request not found: %', request_id;
    END IF;
    
    -- Get program and business names for better notifications
    SELECT name INTO program_name_val FROM loyalty_programs WHERE id = program_id_val::uuid;
    SELECT name INTO business_name_val FROM users WHERE id = business_id_val;
    SELECT name INTO customer_name_val FROM users WHERE id = customer_id_val;
    
    -- Mark notification as actioned
    UPDATE customer_notifications
    SET action_taken = TRUE,
        is_read = TRUE,
        read_at = NOW()
    WHERE id = notification_id_val;
    
    -- Create a notification for the business about the customer's decision
    INSERT INTO customer_notifications (
      id,
      customer_id,
      business_id,
      type,
      title,
      message,
      data,
      requires_action,
      action_taken,
      is_read,
      created_at
    ) VALUES (
      gen_random_uuid(),
      business_id_val,
      business_id_val,
      CASE WHEN is_approved THEN 'ENROLLMENT_ACCEPTED' ELSE 'ENROLLMENT_REJECTED' END,
      CASE WHEN is_approved THEN 'Customer Joined Program' ELSE 'Enrollment Declined' END,
      CASE WHEN is_approved 
           THEN COALESCE(customer_name_val, 'A customer') || ' has joined your ' || COALESCE(program_name_val, 'loyalty program')
           ELSE COALESCE(customer_name_val, 'A customer') || ' has declined to join your ' || COALESCE(program_name_val, 'loyalty program')
      END,
      jsonb_build_object(
        'programId', program_id_val,
        'programName', program_name_val,
        'customerId', customer_id_val,
        'approved', is_approved
      ),
      FALSE,
      FALSE,
      FALSE,
      NOW()
    );
    
    -- Create or update customer-business relationship regardless of approval decision
    INSERT INTO customer_business_relationships (
      customer_id,
      business_id,
      status,
      created_at,
      updated_at
    ) VALUES (
      customer_id_val::text,
      business_id_val::text,
      CASE WHEN is_approved THEN 'ACTIVE' ELSE 'DECLINED' END,
      NOW(),
      NOW()
    )
    ON CONFLICT (customer_id, business_id) 
    DO UPDATE SET 
      status = CASE WHEN is_approved THEN 'ACTIVE' ELSE 'DECLINED' END,
      updated_at = NOW();
    
    -- If not approved, just return null (no card created)
    IF NOT is_approved THEN
      -- Commit transaction
      COMMIT;
      RETURN NULL;
    END IF;
    
    -- Check if already enrolled
    SELECT EXISTS (
      SELECT 1 FROM program_enrollments 
      WHERE customer_id = customer_id_val 
      AND program_id = program_id_val
    ) INTO enrollment_exists;
    
    IF enrollment_exists THEN
      -- Already enrolled, just update status if needed
      UPDATE program_enrollments
      SET status = 'ACTIVE', 
          updated_at = NOW()
      WHERE customer_id = customer_id_val 
      AND program_id = program_id_val 
      AND status != 'ACTIVE';
    ELSE
      -- Create enrollment record
      INSERT INTO program_enrollments (
        customer_id,
        program_id,
        business_id,
        status,
        current_points,
        total_points_earned,
        enrolled_at
      ) VALUES (
        customer_id_val,
        program_id_val,
        business_id_val,
        'ACTIVE',
        0,
        0,
        NOW()
      );
    END IF;
    
    -- Check if card exists
    SELECT EXISTS (
      SELECT 1 FROM loyalty_cards
      WHERE customer_id = customer_id_val
      AND program_id = program_id_val
    ) INTO card_exists;
    
    -- Create card if it doesn't exist
    IF NOT card_exists THEN
      -- Generate a unique card number
      card_number_val := 'GC-' || to_char(NOW(), 'YYMMDD') || '-' || floor(random() * 10000)::TEXT;
      
      -- Generate a new UUID for the card
      card_id_val := gen_random_uuid();
      
      -- Create the card
      INSERT INTO loyalty_cards (
        id,
        customer_id,
        program_id,
        business_id,
        card_number,
        status,
        points,
        card_type,
        tier,
        points_multiplier,
        is_active,
        created_at,
        updated_at
      ) VALUES (
        card_id_val,
        customer_id_val,
        program_id_val,
        business_id_val,
        card_number_val,
        'ACTIVE',
        0,
        'STANDARD',
        'STANDARD',
        1.0,
        true,
        NOW(),
        NOW()
      );
    ELSE
      -- Get the existing card ID
      SELECT id INTO card_id_val
      FROM loyalty_cards
      WHERE customer_id = customer_id_val
      AND program_id = program_id_val
      LIMIT 1;
      
      -- Ensure the card is active
      UPDATE loyalty_cards
      SET is_active = true,
          status = 'ACTIVE',
          updated_at = NOW()
      WHERE id = card_id_val;
    END IF;
    
    -- Create notification for customer about their new card
    INSERT INTO customer_notifications (
      id,
      customer_id,
      business_id,
      type,
      title,
      message,
      data,
      requires_action,
      action_taken,
      is_read,
      created_at
    ) VALUES (
      gen_random_uuid(),
      customer_id_val,
      business_id_val,
      'CARD_CREATED',
      'Loyalty Card Created',
      'Your loyalty card for ' || COALESCE(program_name_val, 'the loyalty program') || 
      ' at ' || COALESCE(business_name_val, 'the business') || ' is ready',
      jsonb_build_object(
        'programId', program_id_val,
        'programName', program_name_val,
        'businessName', business_name_val,
        'cardId', card_id_val
      ),
      FALSE,
      FALSE,
      FALSE,
      NOW()
    );
    
    -- Commit transaction
    COMMIT;
    
    -- Return the card ID
    RETURN card_id_val;
  EXCEPTION WHEN OTHERS THEN
    -- Rollback transaction on error
    ROLLBACK;
    -- Log error details
    RAISE NOTICE 'Error in process_enrollment_approval: %, SQLSTATE: %', SQLERRM, SQLSTATE;
    RAISE;
  END;
EXCEPTION WHEN OTHERS THEN
  -- Log error and re-raise
  RAISE NOTICE 'Error in process_enrollment_approval: %, SQLSTATE: %', SQLERRM, SQLSTATE;
  RAISE;
END;
$$ LANGUAGE plpgsql;

-- Create a function to fix stuck enrollments
CREATE OR REPLACE FUNCTION fix_stuck_enrollments()
RETURNS TABLE(customer_id INTEGER, program_id TEXT, fixed BOOLEAN) AS $$
DECLARE
  enrollment RECORD;
BEGIN
  -- Find enrollments without cards
  FOR enrollment IN 
    SELECT 
      pe.customer_id, 
      pe.program_id, 
      pe.business_id
    FROM program_enrollments pe
    LEFT JOIN loyalty_cards lc ON 
      pe.customer_id = lc.customer_id AND 
      pe.program_id = lc.program_id
    WHERE pe.status = 'ACTIVE'
    AND lc.id IS NULL
  LOOP
    BEGIN
      -- Try to create a card for this enrollment
      PERFORM process_enrollment_approval(
        (SELECT id FROM customer_approval_requests 
         WHERE customer_id = enrollment.customer_id 
         AND entity_id = enrollment.program_id
         LIMIT 1),
        TRUE
      );
      
      customer_id := enrollment.customer_id;
      program_id := enrollment.program_id;
      fixed := TRUE;
      
      RETURN NEXT;
    EXCEPTION WHEN OTHERS THEN
      -- If there's an error, return the record with fixed = FALSE
      customer_id := enrollment.customer_id;
      program_id := enrollment.program_id;
      fixed := FALSE;
      
      RETURN NEXT;
    END;
  END LOOP;
  
  RETURN;
END;
$$ LANGUAGE plpgsql;

-- To run the fix for stuck enrollments:
-- SELECT * FROM fix_stuck_enrollments();
